In [1]:
# Dependencies and Setup 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import scipy.stats as stats

In [2]:
# File to Load -STATE RAW (Remember to Change These)
home_value_data_to_load = "resources\State_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv"

# Read rwa data File and store into Pandas DataFrames
home_value_raw = pd.read_csv(home_value_data_to_load)


home_value_raw

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31
0,9,0,California,State,CA,202744.0,203606.0,204690.0,206971.0,209417.0,...,677568.0,696320.0,710135.0,720036.0,725067.0,730580.0,737410.0,747660.0,759840.0,774899.0
1,54,1,Texas,State,TX,114109.0,114234.0,114273.0,114480.0,114529.0,...,251448.0,257104.0,262775.0,267628.0,271901.0,275537.0,279800.0,284463.0,289905.0,295319.0
2,43,2,New York,State,NY,148975.0,149737.0,150374.0,151718.0,152933.0,...,352114.0,357721.0,362532.0,366549.0,369590.0,372459.0,375299.0,378578.0,382341.0,387069.0
3,14,3,Florida,State,FL,116274.0,116617.0,116980.0,117685.0,118355.0,...,296250.0,304232.0,312319.0,320255.0,327674.0,335023.0,341864.0,349456.0,357423.0,367175.0
4,21,4,Illinois,State,IL,147631.0,147955.0,148395.0,149261.0,150153.0,...,232170.0,235639.0,239047.0,241589.0,243829.0,246095.0,248604.0,250960.0,253330.0,256010.0
5,47,5,Pennsylvania,State,PA,105998.0,106357.0,106647.0,107212.0,107700.0,...,234842.0,238306.0,241089.0,243249.0,245236.0,247103.0,249339.0,251872.0,254647.0,257272.0
6,44,6,Ohio,State,OH,110117.0,110279.0,110452.0,110900.0,111443.0,...,182703.0,185305.0,187616.0,189668.0,191383.0,193093.0,195172.0,197476.0,200061.0,202341.0
7,30,7,Michigan,State,MI,122341.0,122545.0,122935.0,123628.0,124478.0,...,205171.0,208727.0,211861.0,214154.0,216351.0,217953.0,220043.0,222510.0,225343.0,228120.0
8,16,8,Georgia,State,GA,131873.0,132318.0,132761.0,133648.0,134495.0,...,249446.0,254964.0,260548.0,265868.0,271316.0,276782.0,283071.0,289224.0,295367.0,300885.0
9,36,9,North Carolina,State,NC,134785.0,135115.0,135398.0,135985.0,136537.0,...,251275.0,257097.0,263234.0,269025.0,274235.0,278936.0,284174.0,289865.0,296046.0,302153.0
10,40,10,New Jersey,State,NJ,185565.0,186331.0,186973.0,188355.0,189555.0,...,403776.0,411217.0,418010.0,423160.0,427168.0,430532.0,433737.0,437359.0,441362.0,446566.0
11,56,11,Virginia,State,VA,135288.0,135774.0,136226.0,137041.0,137754.0,...,332011.0,335811.0,339023.0,341662.0,344111.0,346823.0,350540.0,354492.0,358679.0,362171.0
12,59,12,Washington,State,WA,175704.0,176307.0,176824.0,177827.0,178775.0,...,518526.0,530358.0,541400.0,549368.0,557141.0,565917.0,575281.0,585195.0,595358.0,606643.0
13,26,13,Massachusetts,State,MA,207518.0,208505.0,209535.0,211478.0,213369.0,...,512461.0,521474.0,529319.0,534316.0,538601.0,542650.0,547312.0,552725.0,558925.0,566287.0
14,22,14,Indiana,State,IN,103225.0,103161.0,103063.0,102606.0,102475.0,...,188133.0,191011.0,193750.0,196257.0,198712.0,201183.0,204135.0,207178.0,210367.0,212953.0
15,8,15,Arizona,State,AZ,136316.0,136646.0,137034.0,137791.0,138580.0,...,354844.0,366695.0,376445.0,384121.0,391345.0,397280.0,402940.0,408559.0,416195.0,424544.0
16,53,16,Tennessee,State,TN,113616.0,113803.0,113948.0,114276.0,114565.0,...,234492.0,239366.0,244392.0,249313.0,254103.0,259001.0,264857.0,270778.0,277519.0,282592.0
17,32,17,Missouri,State,MO,100423.0,100625.0,100873.0,101397.0,101974.0,...,198435.0,201184.0,203563.0,205592.0,207511.0,209521.0,212157.0,214899.0,218278.0,221446.0
18,27,18,Maryland,State,MD,163376.0,163402.0,163605.0,164024.0,164746.0,...,365720.0,369722.0,373519.0,376470.0,379268.0,381904.0,384405.0,387291.0,390408.0,394125.0
19,60,19,Wisconsin,State,WI,118229.0,118280.0,118524.0,118833.0,119305.0,...,232234.0,235589.0,238410.0,240514.0,242273.0,243908.0,245979.0,248633.0,251652.0,254680.0
20,31,20,Minnesota,State,MN,135705.0,136391.0,136931.0,138182.0,139347.0,...,299596.0,304554.0,308226.0,310894.0,312752.0,314814.0,317723.0,320588.0,323597.0,326359.0
21,10,21,Colorado,State,CO,186656.0,187565.0,188427.0,190372.0,192298.0,...,489519.0,501429.0,511160.0,518895.0,525719.0,532944.0,541193.0,549982.0,559580.0,569952.0
22,4,22,Alabama,State,AL,101099.0,101372.0,101522.0,101862.0,102184.0,...,173121.0,175800.0,178419.0,180791.0,182980.0,185067.0,188224.0,191374.0,195045.0,197667.0
23,51,23,South Carolina,State,SC,122966.0,123373.0,123645.0,124274.0,124749.0,...,229616.0,233964.0,238938.0,243836.0,248869.0,253635.0,258779.0,263909.0,269249.0,274401.0
24,25,24,Louisiana,State,LA,106413.0,106762.0,106969.0,107434.0,107821.0,...,189182.0,191276.0,193554.0,195617.0,197594.0,199195.0,201546.0,203704.0,206163.0,208049.0
25,24,25,Kentucky,State,KY,91778.0,91883.0,92016.0,92311.0,92626.0,...,171113.0,173309.0,175207.0,177006.0,178712.0,180443.0,183238.0,185991.0,188750.0,190575.0
26,46,26,Oregon,State,OR,161416.0,161931.0,162331.0,163158.0,163760.0,...,451143.0,460876.0,468910.0,475108.0,479872.0,484560.0,489262.0,495235.0,501870.0,509539.0
27,45,27,Oklahoma,State,OK,79299.0,79363.0,79577.0,79910.0,80306.0,...,153243.0,155305.0,157218.0,159034.0,160979.0,163008.0,165768.0,168514.0,171246.0,173410.0
28,11,28,Connecticut,State,CT,174664.0,175619.0,176508.0,177907.0,178874.0,...,317901.0,323841.0,327919.0,330597.0,332480.0,334441.0,336551.0,339491.0,343523.0,348047.0
29,19,29,Iowa,State,IA,93569.0,93852.0,94084.0,94569.0,95027.0,...,169661.0,171353.0,172851.0,174484.0,175916.0,177429.0,179505.0,181601.0,183681.0,184972.0
30,34,30,Mississippi,State,MS,84117.0,84129.0,84174.0,84331.0,84750.0,...,143108.0,144763.0,146355.0,147906.0,149147.0,150426.0,152870.0,155304.0,158226.0,159955.0
31,6,31,Arkansas,State,AR,79676.0,79846.0,79996.0,80298.0,80520.0,...,151591.0,153851.0,155833.0,157880.0,159599.0,161443.0,164248.0,167093.0,170202.0,172306.0
32,23,32,Kansas,State,KS,93857.0,93918.0,94083.0,94291.0,94555.0,...,182526.0,184768.0,186920.0,188856.0,190844.0,192357.0,194324.0,196354.0,198349.0,199893.0
33,55,33,Utah,State,UT,180246.0,180394.0,180603.0,181092.0,182966.0,...,465466.0,480817.0,493508.0,501712.0,508986.0,515488.0,524669.0,533664.0,545677.0,555263.0
34,42,34,Nevada,State,NV,163608.0,163656.0,163973.0,164646.0,165361.0,...,365438.0,377223.0,386439.0,394278.0,401408.0,408633.0,415201.0,424556.0,434425.0,445515.0
35,41,35,New Mexico,State,NM,NaN,NaN,NaN,NaN,NaN,...,247246.0,251832.0,255559.0,258888.0,261915.0,265235.0,269115.0,273269.0,277645.0,281938.0
36,61,36,West Virginia,State,WV,66838.0,66895.0,66964.0,67089.0,67211.0,...,118036.0,118946.0,119856.0,120720.0,121630.0,122519.0,NaN,127053.0,129632.0,130625.0
37,38,37,Nebraska,State,NE,117184.0,117493.0,117726.0,118109.0,118232.0,...,212439.0,215010.0,216881.0,218476.0,219911.0,221492.0,224511.0,227883.0,231128.0,233006.0
38,20,38,Idaho,State,ID,125641.0,125595.0,125707.0,125879.0,126290.0,...,413144.0,424904.0,436453.0,443380.0,447486.0,449214.0,454340.0,460979.0,467836.0,470489.0
39,18,39,Hawaii,State,HI,224212.0,224091.0,224589.0,225283.0,226649.0,...,739518.0,755072.0,769783.0,785088.0,799402.0,813005.0,823539.0,834888.0,848258.0,863632.0
40,28,40,Maine,State,ME,115558.0,116153.0,116596.0,117572.0,118329.0,...,308175.0,315607.0,321708.0,325470.0,328170.0,330356.0,334960.0,339857.0,344923.0,348997.0
41,39,41,New Hampshire,State,NH,140564.0,141259.0,141984.0,142967.0,143991.0,...,363488.0,370535.0,377702.0,383299.0,388673.0,393554.0,399265.0,405224.0,412230.0,418382.0
42,50,42,Rhode Island,State,RI,144731.0,145693.0,146574.0,148256.0,149696.0,...,370547.0,379122.0,386568.0,392114.0,396623.0,400043.0,404700.0,408480.0,413267.0,416945.0
43,35,43,Montana,State,MT,NaN,NaN,NaN,NaN,NaN,...,362167.0,371067.0,380672.0,389350.0,396864.0,402762.0,410777.0,419338.0,429015.0,436252.0
44,13,44,Delaware,State,DE,150727.0,151120.0,151527.0,152386.0,153272.0,...,304727.0,309678.0,314904.0,320038.0,324468.0,328419.0,331611.0,334521.0,337198.0,340910.0
45,52,45,South Dakota,State,SD,116005.0,115745.0,115382.0,114979.0,114907.0,...,248974.0,252378.0,255621.0,258566.0,261213.0,263836.0,268228.0,272787.0,278414.0,282226.0
46,3,46,Alaska,State,AK,132759.0,132948.0,133100.0,133228.0,133476.0,...,303608.0,304451.0,306081.0,307354.0,308529.0,307424.0,308570.0,309653.0,313958.0,315353.0
47,37,47,North Dakota,State,ND,NaN,NaN,NaN,NaN,NaN,...,250516.0,252474.0,254313.0,256257.0,258003.0,259715.0,261966.0,264389.0,266981.0,268918.0
48,58,48,Vermont,State,VT,126797.0,127165.0,127635.0,128481.0,129310.0,...,298373.0,302681.0,307099.0,312681.0,317461.0,321234.0,325997.0,330932.0,336582.0,341415.0
49,12,49,District of Columbia,State,DC,192912.0,193914.0,194847.0,196961.0,198935.0,...,685525.0,689110.0,689560.0,689690.0,691951.0,692475.0,693367.0,695633.0,702051.0,708001.0
50,62,50,Wyoming,State,WY,NaN,NaN,NaN,NaN,NaN,...,279899.0,282435.0,285219.0,287859.0,290414.0,292816.0,NaN,303998.0,309984.0,312604.0

In [3]:
#change raw csv  to  melt and upivoted : date and price
home_value_unpivoted = home_value_raw.melt(id_vars=['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       ], var_name='date', value_name='price')
home_value_unpivoted.head()

   RegionID  SizeRank  RegionName RegionType StateName        date     price
0         9         0  California      State        CA  2000-01-31  202744.0
1        54         1       Texas      State        TX  2000-01-31  114109.0
2        43         2    New York      State        NY  2000-01-31  148975.0
3        14         3     Florida      State        FL  2000-01-31  116274.0
4        21         4    Illinois      State        IL  2000-01-31  147631.0

In [4]:
#clean data farame - dropNa on home_value_unpivoted
home_value_unpivoted_dropna = home_value_unpivoted.dropna()
home_value_unpivoted_dropna

,RegionID,SizeRank,RegionName,RegionType,StateName,date,price
0,9,0,California,State,CA,2000-01-31,202744.0
1,54,1,Texas,State,TX,2000-01-31,114109.0
2,43,2,New York,State,NY,2000-01-31,148975.0
3,14,3,Florida,State,FL,2000-01-31,116274.0
4,21,4,Illinois,State,IL,2000-01-31,147631.0
...,...,...,...,...,...,...,...
13612,3,46,Alaska,State,AK,2022-03-31,315353.0
13613,37,47,North Dakota,State,ND,2022-03-31,268918.0
13614,58,48,Vermont,State,VT,2022-03-31,341415.0
13615,12,49,District of Columbia,State,DC,2022-03-31,708001.0
13616,62,50,Wyoming,State,WY,2022-03-31,312604.0

In [6]:
#save file to summerry folder
home_value_unpivoted_dropna.to_csv('Clean Resources\home_value_unpivoted_dropna.csv')

In [ ]:
State_df = home_value_unpivoted_dropna.groupby(['StateName' , 'RegionID'])
State_df.head()

In [ ]:
#summery average , variance , std , sem 

States = State_df["StateName"].nunique()
Average =State_df["price"].mean()
variance =State_df["price"].var()
std =State_df["price"].std()
sem =State_df["price"].sem()

State_Summary_Statistics = pd.DataFrame({
    

    'average_home_price':Average,
    'Variance_home_price':variance,
    'Standard_Deviation_home_price':std,
    'SEM_home_price':sem
})
State_Summary_Statistics
State_Summary_Statistics.head()

In [ ]:
#sort to find top 5 state
State_df2 = pd.DataFrame({'Average Home Value': Average}).sort_values(['Average Home Value'], ascending=False)                                             
                                                                                                                
State_df2.head()
State_df2_reset_index = State_df2.reset_index()
State_df2_top5 = State_df2_reset_index.head(5)
State_df2_top5

In [ ]:
# Create a boxplot to compare all state from 2000 to end of march 2022
home_value_unpivoted_dropna.boxplot("price", by="StateName", figsize=(20, 10))

In [ ]:
# Perform the ANOVA  for top 5 state from 2000 to end of march 2022
# state HI = 18 , state 12 = DC , State CA = 9, state MA = 26 ,  state nj = 40)    

State_df2_top5.boxplot("Average Home Value", by="StateName", figsize=(15, 10))


group0 = home_value_unpivoted_dropna[home_value_unpivoted_dropna["RegionID"] == 18]["price"] #
group1 = home_value_unpivoted_dropna[home_value_unpivoted_dropna["RegionID"] == 12]["price"] #
group2 = home_value_unpivoted_dropna[home_value_unpivoted_dropna["RegionID"] == 9]["price"] #
group3 = home_value_unpivoted_dropna[home_value_unpivoted_dropna["RegionID"] == 26]["price"] #
group4 = home_value_unpivoted_dropna[home_value_unpivoted_dropna["RegionID"] == 40]["price"] #

#ANOVA Oneway Test
stats.f_oneway(group0, group1, group2, group3 ,group4)

#p-value greater than 0.05    *******************************
# If the p-value is large (> 0.05), it indicates weak evidence against the null hypothesis.
#As a result, the null hypothesis is not rejected.
#Thus for a hypothesis with a p-value greater than 0.05, the null hypothesis is not rejected, and the alternative hypothesis is not accepted.
#This means that the results of the research/ study are not statistically significant.

#p-value less than 0.05
#If the p-value is small (< 0.05), it indicates a piece of strong evidence against the null hypothesis.
#As a result, the null hypothesis is rejected.
#Thus for a hypothesis with a p-value less than 0.05, the null hypothesis is rejected, and the alternative hypothesis is accepted.
#This means that the results of the research/ study are statistically significant.

In [ ]:
#top 2 state from 2000 to end of march 2022
State_df2_top2 = State_df2_reset_index.head(2)
State_df2_top2

In [ ]:
# Perform the ANOVA  for top 2 state from 2000 to end of march 2022
# state HI = 18 , state 12 = DC ) 
State_df2_top2.boxplot("Average Home Value", by="StateName", figsize=(15, 10))
stats.f_oneway(group0, group1)

#p-value greater than 0.05
# If the p-value is large (> 0.05), it indicates weak evidence against the null hypothesis.
#As a result, the null hypothesis is not rejected.
#Thus for a hypothesis with a p-value greater than 0.05, the null hypothesis is not rejected, and the alternative hypothesis is not accepted.
#This means that the results of the research/ study are not statistically significant.

#p-value less than 0.05
#If the p-value is small (< 0.05), it indicates a piece of strong evidence against the null hypothesis.
#As a result, the null hypothesis is rejected.
#Thus for a hypothesis with a p-value less than 0.05, the null hypothesis is rejected, and the alternative hypothesis is accepted.
#This means that the results of the research/ study are statistically significant.