In [2]:
import pandas as pd
import requests
import json
from config import gkey

In [3]:
#init dataframe
data = pd.read_csv("Resources\State_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
#data.head()
data[["RegionID", "RegionType", "RegionName"]].head()

   RegionID RegionType  RegionName
0         9      State  California
1        54      State       Texas
2        43      State    New York
3        14      State     Florida
4        21      State    Illinois

In [4]:
#api call
coord_df = data.apply(
    lambda row: requests.get(f"https://maps.googleapis.com/maps/api/geocode/json?address={row.RegionName}&key={gkey}").json()["results"][0]["geometry"]["location"], axis =1, result_type="expand")

In [5]:
#add regionid column & rename lat&lng
coord_df["RegionID"] = data["RegionID"]
coord_df = coord_df.rename({"lat":"Latitude", "lng":"Longitude"},axis=1)
coord_df.head()

    Latitude   Longitude  RegionID
0  36.778261 -119.417932         9
1  31.968599  -99.901813        54
2  40.712775  -74.005973        43
3  27.664827  -81.515754        14
4  40.633125  -89.398528        21

In [6]:
#join dataframes by Region ID
data_coords = data[["RegionID", "RegionType", "RegionName"]].join(coord_df.set_index("RegionID"), on="RegionID")
data_coords.head()

   RegionID RegionType  RegionName   Latitude   Longitude
0         9      State  California  36.778261 -119.417932
1        54      State       Texas  31.968599  -99.901813
2        43      State    New York  40.712775  -74.005973
3        14      State     Florida  27.664827  -81.515754
4        21      State    Illinois  40.633125  -89.398528

In [7]:
#data_coords.to_csv("Clean Resources/Coords_State_zhvi.csv",index=False)