In [126]:
import pandas as pd
import requests
import json
from config import gkey

In [127]:
#init dataframe
data = pd.read_csv("Resources/State_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
#data.head()
data[["RegionID", "RegionType", "RegionName"]].head()

   RegionID RegionType  RegionName
0         9      State  California
1        54      State       Texas
2        43      State    New York
3        14      State     Florida
4        21      State    Illinois

In [128]:
#api call
coord_df = data.apply(
    lambda row: requests.get(f"https://maps.googleapis.com/maps/api/geocode/json?address={row.RegionName}&key={gkey}").json()["results"][0]["geometry"]["location"], axis =1, result_type="expand")

In [133]:
#add regionid column & rename lat&lng
coord_df["RegionID"] = data["RegionID"]
coord_df = coord_df.rename({"lat":"Latitude", "lng":"Longitude"},axis=1)
coord_df.head()

    Latitude   Longitude  RegionID
0  36.778261 -119.417932         9
1  31.968599  -99.901813        54
2  40.712775  -74.005973        43
3  27.664827  -81.515754        14
4  40.633125  -89.398528        21

In [134]:
#join dataframes by Region ID
data_coords = data[["RegionID", "RegionType", "RegionName"]].join(coord_df.set_index("RegionID"), on="RegionID")
data_coords

    RegionID RegionType            RegionName   Latitude   Longitude
0          9      State            California  36.778261 -119.417932
1         54      State                 Texas  31.968599  -99.901813
2         43      State              New York  40.712775  -74.005973
3         14      State               Florida  27.664827  -81.515754
4         21      State              Illinois  40.633125  -89.398528
5         47      State          Pennsylvania  41.203322  -77.194525
6         44      State                  Ohio  40.417287  -82.907123
7         30      State              Michigan  44.314844  -85.602364
8         16      State               Georgia  42.315407   43.356892
9         36      State        North Carolina  35.759573  -79.019300
10        40      State            New Jersey  40.058324  -74.405661
11        56      State              Virginia  37.431573  -78.656894
12        59      State            Washington  47.751074 -120.740139
13        26      State         Massachusetts  42.407211  -71.382437
14        22      State               Indiana  40.267194  -86.134902
15         8      State               Arizona  34.048928 -111.093731
16        53      State             Tennessee  35.517491  -86.580447
17        32      State              Missouri  37.964253  -91.831833
18        27      State              Maryland  39.045755  -76.641271
19        60      State             Wisconsin  43.784440  -88.787868
20        31      State             Minnesota  46.729553  -94.685900
21        10      State              Colorado  39.550051 -105.782067
22         4      State               Alabama  32.318231  -86.902298
23        51      State        South Carolina  33.836081  -81.163725
24        25      State             Louisiana  30.984298  -91.962333
25        24      State              Kentucky  37.839333  -84.270018
26        46      State                Oregon  43.804133 -120.554201
27        45      State              Oklahoma  35.007752  -97.092877
28        11      State           Connecticut  41.603221  -73.087749
29        19      State                  Iowa  41.878003  -93.097702
30        34      State           Mississippi  32.354668  -89.398528
31         6      State              Arkansas  35.201050  -91.831833
32        23      State                Kansas  39.011902  -98.484246
33        55      State                  Utah  39.320980 -111.093731
34        42      State                Nevada  38.802610 -116.419389
35        41      State            New Mexico  34.519940 -105.870090
36        61      State         West Virginia  38.597626  -80.454903
37        38      State              Nebraska  41.492537  -99.901813
38        20      State                 Idaho  44.068202 -114.742041
39        18      State                Hawaii  19.896766 -155.582782
40        28      State                 Maine  45.253783  -69.445469
41        39      State         New Hampshire  43.193852  -71.572395
42        50      State          Rhode Island  41.580095  -71.477429
43        35      State               Montana  46.879682 -110.362566
44        13      State              Delaware  38.910832  -75.527670
45        52      State          South Dakota  43.969515  -99.901813
46         3      State                Alaska  64.200841 -149.493673
47        37      State          North Dakota  47.551493 -101.002012
48        58      State               Vermont  44.558803  -72.577841
49        12      State  District of Columbia  38.907192  -77.036871
50        62      State               Wyoming  43.075968 -107.290284