In [6]:
#Dependencies Imported
import os
import csv
import pandas as pd

In [8]:
rent = pd.read_csv('Resources/Zip_ZORI_AllHomesPlusMultifamily_Smoothed.csv')  
rent

,RegionID,RegionName,SizeRank,MsaName,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,...,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,2022-02,2022-03
0,61639,10025,1,"New York, NY",2989.0,2911.0,2998.0,3023.0,3013.0,3016.0,...,3119.0,3206.0,3281.0,3306.0,3367.0,3407.0,3450.0,3479.0,3574.0,3619.0
1,84654,60657,2,"Chicago, IL",1383.0,1415.0,1414.0,1423.0,1437.0,1472.0,...,1632.0,1637.0,1657.0,1654.0,1648.0,1663.0,1669.0,1704.0,1709.0,1739.0
2,61637,10023,3,"New York, NY",3298.0,3317.0,3360.0,3350.0,3369.0,3432.0,...,3362.0,3470.0,3558.0,3685.0,3786.0,3781.0,3864.0,3913.0,3947.0,4001.0
3,91982,77494,4,"Houston, TX",1416.0,1479.0,1486.0,1494.0,1468.0,1456.0,...,1589.0,1633.0,1655.0,1659.0,1683.0,1706.0,1700.0,1690.0,1705.0,1697.0
4,84616,60614,5,"Chicago, IL",1629.0,1654.0,1665.0,1677.0,1698.0,1714.0,...,1984.0,1988.0,2026.0,1998.0,2012.0,2027.0,2013.0,2042.0,2060.0,2124.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2244,96956,92624,10854,"Los Angeles-Long Beach-Anaheim, CA",6432.0,NaN,NaN,NaN,3485.0,3217.0,...,4888.0,5576.0,5534.0,NaN,NaN,5703.0,6087.0,6008.0,6505.0,6227.0
2245,61773,10282,11874,"New York, NY",5191.0,5121.0,4965.0,5214.0,5104.0,5203.0,...,5530.0,5716.0,5451.0,NaN,5107.0,5574.0,5705.0,6034.0,6135.0,6481.0
2246,84608,60606,11991,"Chicago, IL",1882.0,1876.0,1899.0,1915.0,1923.0,1968.0,...,2084.0,2112.0,2151.0,2053.0,2005.0,1949.0,2026.0,2083.0,2170.0,2245.0
2247,61620,10006,12013,"New York, NY",2982.0,3006.0,3035.0,3059.0,3126.0,3160.0,...,3001.0,3092.0,3268.0,3343.0,3427.0,3450.0,3486.0,3569.0,3650.0,3711.0
2248,58623,2109,12691,"Boston, MA",NaN,2486.0,NaN,2697.0,2725.0,2736.0,...,2932.0,2928.0,2997.0,3034.0,2971.0,2925.0,3115.0,2922.0,2952.0,3040.0